* {
    margin: 0;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg\ 1.jpg);
    background-size: cover;
    height: 100vh;

}

#geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 60vh;
    padding: 30px;
    background-color: rgba(23, 117, 106, 0.9) ;
    background-blend-mode: color-dodge;
    border-radius: 10%;
    /*     
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    height: 80vh; */
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  

}

section {
    display: flex;
    align-content: center;
    flex-direction: column;
}

h1 {
    font-family: 'Shlop';
    color: #1df71d;
    font-size: 10vh;

}

h2 {
    font-family: 'Lacquer', sans-serif;
    color: white;
    font-size: 2vh;
}

H3{
    font-family: 'Lacquer', sans-serif;
    color: white;
    font-size: 2vh;
}

H4{
    font-family: 'Lacquer', sans-serif;
    color: white;
    font-size: 2vh;
}
img{
    height: 20vh;
    border-radius: 10px;
    margin-bottom: 10px;
}

input{
border: none;
width: 300px;
border-radius: 30px;
height: 30px;
margin-bottom: 10px;

font-size: 2vh;
}

#start {
    align-items: center;
    justify-content: center;
    border: none;
    width: 100px;
    border-radius: 30px;
    height: 30px;
    background-color: #32d132;
    color: white;
    cursor: pointer;

}

#tentar{
    border: none;
    width: 100px;
    border-radius: 30px;
    height: 30px;
    background-color: #32d132;
    color: white;
    cursor: pointer;
}


@media(max-width: 655px) {
    body {
        
    }

    #geral{
        width: 80%;
        height: 90vh;
    }

    section {
        width: 100%;
    }
    img{
        height: 20vh;
        width: auto ;
    }
}